{% extends 'base.html' %}
{% load static %}
{% load filter_tags_big %}

{% block title %}<title>Анкета</title>{% endblock %}

{% block nav %}{% include 'course/nav.html' %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Тест завершен</h5>
                <p class="card-text">Благодарим за участие!</p>
                {#            <a href="/graduate" class="stretched-link">Home</a>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $( document ).ready(function() {
            setTimeout(() => window.location.href = '/', 3000);
        });
    </script>
{% endblock %}













{##}
{##}
{#<!doctype html>#}
{#<html lang="ru">#}
{#<head>#}
{#    {% load static %}#}
{#    <!-- Required meta tags -->#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{##}
{#    <!-- Bootstrap CSS -->#}
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">#}
{#    <link rel="shortcut icon" href="{% static 'questioning/img/favicon.ico' %}" />#}
{#    <title>Анкета</title>#}
{#</head>#}
{#<body>#}
{#<div class="container-fluid">#}
{#    {% include 'course/nav.html' %}#}
{#</div>#}
{##}
{#<div class="container-fluid">#}
{#    <br>#}
{#    <div class="card" style="width: 100%;">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">Тест завершен</h5>#}
{#            <p class="card-text">Благодарим за участие!</p>#}
            {#            <a href="/graduate" class="stretched-link">Home</a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>#}
{#<script>#}
{#    $( document ).ready(function() {#}
{#        setTimeout(() => window.location.href = '/beka', 3000);#}
{#    });#}
{#</script>#}
{##}
{#<!-- Option 2: Separate Popper and Bootstrap JS -->#}
{#<!--#}
{#<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>#}
{#-->#}
{#</body>#}
{#</html>#}
